<div class="row-fluid">
  <%= render :partial => 'sidebar' %>
  <div class="span9 row">
    <% @wine_groups.each do |wine_group| %>
    <div class="span3">
      <%= link_to wine_group.name, final_award_path(wine_group.id) %>
    </div>
    <% end %>
  </div>
</div>
<!--
<div class="row-fluid">
  <div class="span12 row">
    <div class="custom-container">
      <% @test_papers.each do  |item| %>
          <div class="span5 outer_border" >

            <%= item.wine_id %>
            <h2><%= raw item.wine.name %></h2>
            <table class="table">
              <tr>
                <td class="aleft" width="160px">Region/产区:</td>
                <td><%= item.wine.region_en %> <br> <%= item.wine.region_en %></td>
              </tr>
              <tr>
                <td class="aleft">Grape Vairety/葡萄品种:</td>
                <td><%= item.wine.grape_vairety %></td>
              </tr>
              <tr>
                <td class="aleft">Vintage/年份:</td>
                <td><%= item.wine.vingate %></td>
              </tr>
              <tr>
                <td class="aleft">Sugar Content/含糖量:</td>
                <td><%= item.wine.sugar %></td>
              </tr>
                  <tr>
                    <td class="aleft">Award/颁奖:</td>
                    <td>
                      <button ng-init="award_value[<%= item.wine_id %>]=<%= item.wine.award_value %>"  class="btn btn-primary" ng-show="award_value[<%= item.wine.id %>]==1">金奖/GOLD</button>
                      <button ng-init="award_value[<%= item.wine_id %>]=<%= item.wine.award_value %>"  class="btn btn-primary" ng-if="award_value[<%= item.wine.id %>]==2">银奖/SILVER</button>
                      <button ng-init="award_value[<%= item.wine_id %>]=<%= item.wine.award_value %>"  class="btn btn-primary" ng-if="award_value[<%= item.wine.id %>]==3">铜奖/BRONZE</button>
                    </td>
                  </tr>
            </table>

            <h2>品酒辞</h2>
            <table class="table table-striped">
              <tr>
                <td>Score 评分:</td>
                <td><%= item.score %></td>
              </tr>
              <tr>
                <td>Drink Window 试饮年:</td>
                <td><%= item.drink_begin_at %> to <%= item.drink_end_at %></td>
              </tr>
              <tr>
                <td>Tasting Note品酒辞:</td>
                <td><%= item.note %></td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  Final Award/最终获奖:
                </td>
                <td>
                  <button ng-init="final_award_value[<%= item.wine_id %>]=<%= item.wine.final_award_value  %>" ng-class="{'btn-primary':final_award_value[<%= item.wine_id %>]==1}"  type="button" class="btn" ng-click="finalAward(<%= item.wine.id %>, 1)" >金奖/GOLD</button>
                  <button ng-init="final_award_value[<%= item.wine_id %>]=<%= item.wine.final_award_value  %>"  ng-class="{'btn-primary':final_award_value[<%= item.wine_id %>]==2}"  type="button" class="btn" ng-click="finalAward(<%= item.wine.id %>, 2)" >银奖/SILVER</button>
                  <button ng-init="final_award_value[<%= item.wine_id %>]=<%= item.wine.final_award_value  %>"  ng-class="{'btn-primary':final_award_value[<%= item.wine_id %>]==3}"  type="button" class="btn" ng-click="finalAward(<%= item.wine.id %>, 3)" >铜奖/BRONZE</button>
                </td>
              </tr>
            </table>

          </div>
      <% end %>
    </div>
  </div>
</div>
-->